/.settings
/.metadata
/target/
.mymetadata
.checkstyle
.classpath
.project
.class
.war
.zip
.rar
.idea
*.iml
/indexes/*
/target/*
/src/main/webapp/WEB-INF/classes/*
/src/main/webapp/userfiles/*
.DS_Store
/RemoteSystemsTempFiles
/Servers
.myhibernatedata
hibernate.cfg.xml
hibernate.reveng.xml
/.idea
.tern-project
/bak
/target
/bin/*
